In [1]:
import sqlite3

# DBファイルの保存先パス（相対パスで指定）
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

In [9]:
import sqlite3

path = ''
db_name = 'car.db'

# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
cur = conn.cursor()

# SQL文の作成
# テーブルの作成
sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

# SQL文の実行
cur.execute(sql)

# DBへの接続を閉じる
conn.close()

In [10]:
import sqlite3

path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードの挿入
    # INSERT INTO テーブル名 VALUES（列に対応したプレースホルダーをカンマ区切りで）;
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック Type-R', 5000000)
    ]

    # SQL文の実行
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

In [11]:
import sqlite3

path = ''
db_name = 'car.db'

try:
    # ------------------------------------------
    # DB 接続の作成
    # ------------------------------------------
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()


    # ==========================================
    # ① テーブル作成
    # ==========================================
    sql = "CREATE TABLE IF NOT EXISTS cars (id INT, name TEXT, price REAL);"
    cur.execute(sql)
    conn.commit()


    # ==========================================
    # ② 単一レコードの挿入
    # ==========================================
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370Z', 7000000);"
    cur.execute(sql)
    conn.commit()


    # ==========================================
    # ③ 複数レコードの挿入
    # ==========================================
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック Type-R', 5000000)
    ]

    cur.executemany(sql, cars)
    conn.commit()


    # ==========================================
    # ④ データ表示（SELECT）
    # ==========================================
    sql = "SELECT * FROM cars;"
    cur.execute(sql)

    print("=== データ一覧（SELECT 結果） ===")
    for row in cur:
        id, name, price = row
        print(id, name, price)


    # ==========================================
    # ⑤ UPDATE（id=2 の価格を変更）
    # ==========================================
    sql = "UPDATE cars SET price = ? WHERE id = ?;"
    cur.execute(sql, (5000000, 2))
    conn.commit()


    # ==========================================
    # ⑥ UPDATE 後の SELECT
    # ==========================================
    sql = "SELECT * FROM cars;"
    cur.execute(sql)

    print("\n=== 更新後のデータ一覧 ===")
    for row in cur:
        id, name, price = row
        print(id, name, price)


except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # ------------------------------------------
    # DB 接続を閉じる
    # ------------------------------------------
    conn.close()

=== データ一覧（SELECT 結果） ===
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0
1 370Z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

=== 更新後のデータ一覧 ===
2 911カレラ 5000000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0
1 370Z 7000000.0
2 911カレラ 5000000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0